<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sales Records</title>
    </head>
    <body>
        <h2>Sales Records</h2>
    <table>
        <tr>
        <th>Item</th>
        <th>Revenue</th>
        <th>Cost</th>
        </tr>
        <tr th:each="record: ${records}">
            <th th:text="${record.item}"></th>
            <th th:text="${#numbers.formatCurrency(record.revenue)}"></th>
            <th th:text="${#numbers.formatCurrency(record.cost)}"></th>
            <th th:text="${#numbers.formatCurrency(record.revenue - record.cost)}"></th>
        </tr>
    </table>
    </body>
</html>