<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <link rel="stylesheet" th:href="@{/form-stylesheet.css}">
</head>
<body>
<div class="container">
    <h2>Javagram</h2>
    <form th:action="@{/submitItem}" method="post" th:object="${user}">
    <input type="text" placeholder="First Name" th:text="*{firstName}">
    <input type="text" placeholder="Last Name" th:text="*{lastName}">
    <input type="text" placeholder="Username" th:text="*{username}">
    <input type="text" placeholder="Email" th:text="*{email}">
    <p style="font-weight: bold">Date of Birth</p>
    <input type="date" th:text="*{birthDate}"> <br><br>
    <input type="submit" value="submit">
    </form>
</div>

</body>
</html>